<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
>

<h:head></h:head>
<body>
<h1>Spring MVC Web with Primefaces</h1>
<h:commandButton label="Показать список проектов" action="projectListJSF?faces-redirect=true"/>
</body>
</html>
