<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<h:body>
    <h:form>
        <h:panelGrid>
            <p:outputLabel for="name" value="title"/>
            <h:inputText id="name" value="#{projectBean.project.name}"/>
            <p:outputLabel for="description" value="description"/>
            <h:inputText id="description" value="#{projectBean.project.description}"/>
            <p:outputLabel for="dateBegin" value="date begin:" />
            <p:calendar id="dateBegin" value="#{projectBean.project.dateBeginProject}" />
            <p:outputLabel for="dateEnd" value="date end:" />
            <p:calendar id="dateEnd" value="#{projectBean.project.dateEndProject}" />
            <h:form>
                <h:commandButton value="newProject" action="#{projectBean.createProject}"/>
            </h:form>
        </h:panelGrid>
    </h:form>
</h:body>
</html>