<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:form>
        <h:commandLink value="newProject" action="#{projectBean.newProject}"/>
    </h:form>
    <p:dataTable var="project" value="#{projectBean.projectList}">
        <p:column headerText="Id">
            <h:outputText value="#{project.id}"/>
        </p:column>

        <p:column headerText="Name">
            <h:outputText value="#{project.name}"/>
        </p:column>

        <p:column headerText="Description">
            <h:outputText value="#{project.description}"/>
        </p:column>

        <p:column headerText="Date Begin">
            <h:outputText value="#{project.dateBeginProject}"/>
        </p:column>
        <p:column headerText="Date End">
            <h:outputText value="#{project.dateEndProject}"/>
        </p:column>
        <p:column headerText="Activ">
            <h:form>
            <h:commandLink value="task list"  action="#{projectBean.findTaskList(project.id)}"/>
            </h:form>
            <h:form>
            <h:commandLink value="delete" action="#{projectBean.deleteProject(project.id)}"/>
            </h:form>
            <h:form>
                <h:commandLink value="edit" action="#{projectBean.editProject(project.id)}"/>
            </h:form>
        </p:column>
    </p:dataTable>
</f:view>
</html>
